<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixi.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.zhixi.pojo.User">
        <id property="id" column="ID" jdbcType="DECIMAL"/>
        <result property="name" column="F_NAME" jdbcType="VARCHAR"/>
        <result property="age" column="F_AGE" jdbcType="VARCHAR"/>
        <result property="sex" column="F_SEX" jdbcType="VARCHAR"/>
        <result property="address" column="F_ADDRESS" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,F_NAME,F_AGE,
        F_SEX,F_ADDRESS
    </sql>
    <insert id="saveUser">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE">
            select nvl(max(id),0)+1 from T_USER
        </selectKey>

        insert into T_USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ID,
            <if test="name != null">
                F_NAME,
            </if>
            <if test="age != null">
                F_AGE,
            </if>
            <if test="address != null">
                F_ADDRESS,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="age != null">
                #{age},
            </if>
            <if test="address != null">
                #{address},
            </if>
        </trim>
    </insert>


    <select id="findUserOrderList" resultMap="userOrderList">
        SELECT u.ID        as ID,
               u.F_NAME    as F_NAME,
               u.F_AGE     as F_AGE,
               u.F_SEX     as F_SEX,
               u.F_ADDRESS as F_ADDRESS,
               o.ID        as O_ID,
               o.F_ORDER_TIME as F_ORDER_TIME,
               o.F_TOTAL   as F_TOTAL,
               o.F_USER_ID as F_USER_ID
        FROM T_USER u
        LEFT JOIN T_ORDER o
         ON o.F_USER_ID = u.id
    </select>
    <!--查询用户表，一个用户有多个订单信息-->
    <resultMap id="userOrderList" type="UserOrderDTO">
        <id property="id" column="ID"/>
        <result property="name" column="F_NAME"/>
        <result property="age" column="F_AGE"/>
        <result property="sex" column="F_SEX"/>
        <result property="address" column="F_ADDRESS"/>

        <collection property="orders" ofType="order">
            <id property="id" column="O_ID"/>
            <result property="orderTime" column="F_ORDER_TIME"/>
            <result property="total" column="F_TOTAL"/>
            <result property="userId" column="F_USER_ID"/>
        </collection>

    </resultMap>


    <select id="findUserRoleList" resultMap="userRoleList">
        SELECT u.ID          "U_ID",
               u.F_NAME      "U_NAME",
               u.F_AGE       "U_AGE",
               u.F_SEX       "U_SEX",
               u.F_ADDRESS   "U_ADDRESS",
               r.F_ROLE_NAME "ROLE_NAME"
        FROM T_USER u
                 LEFT JOIN T_USER_ROLE ur ON u.ID = ur.F_USER_ID
                 LEFT JOIN T_ROLE r ON ur.F_ROLE_ID = r.ID
        ORDER BY U_NAME DESC
    </select>

    <resultMap id="userRoleList" type="UserRoleDTO">
        <id property="id" column="U_ID"/>
        <result property="name" column="U_NAME"/>
        <result property="age" column="U_AGE"/>
        <result property="sex" column="U_SEX"/>
        <result property="address" column="U_ADDRESS"/>

        <collection property="roleList" ofType="RoleDTO">
            <result property="roleName" column="ROLE_NAME"/>
        </collection>
    </resultMap>

    <select id="findUserOrderListByCondition" resultMap="findUserOrderListByConditionReaultMap">
        SELECT
            u.ID U_ID,
            u.F_NAME U_NAME,
            u.F_AGE U_AGE,
            u.F_SEX U_SEX,
            u.F_ADDRESS U_ADDRESS,
            o.ID O_ID,
            o.F_TOTAL O_TOTAL
        FROM
            T_USER u
                LEFT JOIN T_ORDER o ON u.ID = o.F_USER_ID
         ${ew.customSqlSegment}
    </select>

    <resultMap id="findUserOrderListByConditionReaultMap" type="UserOrderDTO">
        <id property="id" column="U_ID"/>
        <result property="name" column="U_NAME"/>
        <result property="age" column="U_AGE"/>
        <result property="sex" column="U_SEX"/>
        <result property="address" column="U_ADDRESS"/>
        <collection property="orders" ofType="order">
            <id property="id" column="O_ID"/>
            <result property="total" column="O_TOTAL"/>
        </collection>
    </resultMap>

</mapper>
